<div id="DivContenu">
  <br /><br /><br />
  <div class="d-flex align-items-center w-75 p-3 mx-auto">
    <div class="flex-shrink-0">
      <a [routerLink]="['/accueil']" routerLinkActive="active"
        ><img
          width="480"
          height="480"
          src="assets/img/Logo3.png"
          class="align-self-center mr-3"
          alt="logo"
      /></a>
    </div>
    <div class="flex-grow-1 ms-3">
      <h3 class="mt-0 w-75 p-3 mx-auto">Mentions légales</h3>
      <h5 class="mb-0 w-75 p-3 mx-auto">
        RÈGLEMENT GÉNÉRAL SUR LA PROTECTION DES DONNÉES (RGPD)
      </h5>
      <p class="mb-0 w-75 p-3 mx-auto">
        Notre plateforme s'engage à ce que la collecte et le traitement de vos
        données, effectués à partir de notre site, soient conformes au règlement
        général sur la protection des données (RGPD). Chaque formulaire ou
        téléservice limite la collecte des données personnelles au strict
        nécessaire (minimisation des données) et indique notamment :
      </p>
      <p class="mb-0 w-75 p-3 mx-auto"></p>
      <ul class="mb-0 w-75 p-3 mx-auto">
        <li class="ml-5">
          quels sont les objectifs du recueil de ces données,
        </li>
        <li class="ml-5">
          si ces données sont obligatoires ou facultatives pour la gestion de
          votre demande,
        </li>
        <li class="ml-5">
          qui pourra en prendre connaissance (sauf précision dans le formulaire
          lorsqu'une transmission à un tiers est nécessaire à la gestion de
          votre demande),
        </li>
        <li class="ml-5">
          Les données personnelles recueillies dans le cadre des services
          proposés sur notre site sont traitées selon des protocoles sécurisés
          et permettent à notre plateforme de gérer les demandes reçues dans ses
          applications informatiques.
        </li>
        <li class="ml-5">
          Pour toute information ou exercice de vos droits Informatique et
          Libertés sur les traitements de données personnelles gérés par notre
          entreprise, vous pouvez nous contacter et éventuellement son délégué à
          la protection des données (DPO), si distingué.
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- ********************************************************** -->

<div class="DivEspace3">
  <br />
  <br />
  <hr />
</div>
