<div id="DivContenu">
  <br /><br /><br />
  <div class="d-flex align-items-center w-75 p-3 mx-auto">
    <div class="flex-shrink-0">
      <img
        width="480"
        height="480"
        src="assets/img/eFormula.jpg"
        class="align-self-center mr-3"
        alt="E-Fomrmula"
      />
    </div>
    <div class="flex-grow-1 ms-3">
      <h3 class="mt-0 w-75 p-3 mx-auto">E-Prix de Paris - Formule E</h3>
      <h5 class="mb-0 w-75 p-3 mx-auto">
        Le championnat de monoplaces électriques est de retour à Paris pour une
        nouvelle édition !
      </h5>
      <p class="mb-0 w-75 p-3 mx-auto">
        Le championnat de monoplaces électriques est de retour à Paris pour une
        nouvelle édition ! Se déroulant de 8h à 17h sur le site des Invalides,
        le parcours de près de 2 kilomètres compte une dizaine de virages autour
        du monument parisien, promettant des instants forts en adrénaline.
        Autour du circuit, le E-village propose des festivités pour toute la
        famille, dont des simulateurs et des concerts.
      </p>
    </div>
  </div>

  <!-- **** -->

  <div class="DivEspace3.1">
    <br />
    <hr />
    <br />
  </div>

  <!-- **** -->

  <div class="d-flex align-items-center w-75 p-3 mx-auto">
    <div class="flex-grow-1 ms-3">
      <h3 class="mt-0 w-75 p-3 mx-auto">
        Schneider Electric Marathon de Paris
      </h3>
      <br />
      <h5 class="mb-0 w-75 p-3 mx-auto">
        Plus de 35 000 marathoniens se sont élancés le 17 octobre 2021 pour
        relever le défi des 42,195 km à travers les plus belles avenues de
        Paris. Le Schneider Electric Marathon de Paris revient le 3 avril 2022 !
      </h5>
      <br />
      <p class="mb-0 w-75 p-3 mx-auto">
        Le Schneider Electric Marathon de Paris offre une occasion unique de
        visiter la ville d’une autre façon. Intensément, passionnément,
        créez-vous un souvenir inoubliable, réalisez une belle performance,
        appropriez-vous Paris, en participant à l'une des courses les plus
        intenses et un des plus importants marathons du monde.
      </p>
    </div>
    <div class="flex-shrink-0">
      <img
        width="480"
        height="480"
        src="assets/img/Marathon.jpg"
        class="align-self-center mr-3"
        alt="Marathon"
      />
    </div>
  </div>

  <!-- **** -->

  <div class="DivEspace3.2">
    <br />
    <hr />
    <br />
  </div>

  <!-- **** -->

  <div class="d-flex align-items-center w-75 p-3 mx-auto">
    <div class="flex-shrink-0">
      <img
        width="480"
        height="480"
        src="assets/img/Saut_Hermes.jpg"
        class="align-self-center mr-3"
        alt="Saut_Hermes"
      />
    </div>
    <div class="flex-grow-1 ms-3">
      <h3 class="mt-0 w-75 p-3 mx-auto">Saut Hermès</h3>
      <br />
      <h5 class="mb-0 w-75 p-3 mx-auto">
        Un rendez-vous sportif incontournable à Paris qui réunit du 18 au 20
        mars 2022 sous la nef du Grand Palais Ephémère, l'élite du jumping
        international.
      </h5>
      <br />
      <p class="mb-0 w-75 p-3 mx-auto">
        Pendant 3 jours cavaliers et chevaux défileront au Grand Palais pour le
        plus grand plaisir des spectateurs. Vous aurez l’occasion de découvrir
        l’épreuve de saut d’obstacles baptisée « le prix du 24 Faubourg ». Cette
        épreuve CSI 5* prendra la forme d’une épreuve de vitesse sans barrage, à
        difficulté progressive avec joker.
      </p>
    </div>
  </div>

  <!-- **** -->

  <div class="DivEspace3.3">
    <br />
    <hr />
    <br />
  </div>

  <!-- **** -->
  <div class="d-flex align-items-center w-75 p-3 mx-auto">
    <div class="flex-grow-1 ms-3">
      <h3 class="mt-0 w-75 p-3 mx-auto">The Color Run by Décathlon</h3>
      <br />
      <h5 class="mb-0 w-75 p-3 mx-auto">
        The Color Run™ by Decathlon - Paris revient le 17 avril 2022 pour une
        course toujours plus colorée !
      </h5>
      <br />
      <p class="mb-0 w-75 p-3 mx-auto">
        Rendez-vous le 17 avril 2022 pour une journée que vous n’êtes pas près
        d’oublier ! Concept né aux États-Unis et désormais célébré dans le monde
        entier, The Color Run™ by Decathlon - Paris fait partie des événements
        sportifs et festifs incontournables à Paris. Il s’agit d’une course dans
        laquelle le but n’est pas d’arriver premier mais bien de s’amuser. Sur
        les berges de Seine, laissez-vous arroser de poudre colorée 100%
        naturelle sur un parcours de 5 km ! Et une chose est sûre, vous allez en
        voir de toutes les couleurs car chaque kilomètre correspond à une teinte
        différente ! La bonne ambiance se poursuit avec le Finisher Festival,
        son speaker pour mettre le feu, sa musique non-stop assurée par un DJ
        sur scène et ses lancers de couleurs groupés toutes les 20mn ! Célébrez
        le partage, le bien-être et le plaisir autour de valeurs sportives et
        fédératrices !
      </p>
    </div>
    <div class="flex-shrink-0">
      <img
        width="480"
        height="480"
        src="assets/img/Color_run_2016.jpg"
        class="align-self-center mr-3"
        alt="Color_run"
      />
    </div>
  </div>

  <!-- **** -->

  <div class="DivEspace3.4">
    <br />
    <hr />
    <br />
  </div>

  <!-- **** -->
  <div class="d-flex align-items-center w-75 p-3 mx-auto">
    <div class="flex-shrink-0">
      <img
        width="480"
        height="480"
        src="assets/img/verticale-de-la-tour-eiffel.jpg"
        class="align-self-center mr-3"
        alt="verticale-de-la-tour-eiffel"
      />
    </div>
    <div class="flex-grow-1 ms-3">
      <h3 class="mt-0 w-75 p-3 mx-auto">La Verticale de la tour Eiffel</h3>
      <h5 class="mb-0 w-75 p-3 mx-auto">
        Gravir le symbolique monument de la capitale dans une course
        vertigineuse. La Verticale de la tour Eiffel est un véritable défi
        sportif ! Rendez-vous en 2022 pour la prochaine édition.
      </h5>
      <p class="mb-0 w-75 p-3 mx-auto">
        C’est la course qui donne le top départ à la saison de l’EcoTrail à
        Paris Region. Sur le modèle sportif d’une course contre la montre, La
        Verticale de la tour Eiffel® invite les quelques 130 candidats venus du
        monde entier et sélectionnés sur le volet, à gravir les 1665 marches de
        la tour jusqu’au 3ème étage. Ils s’affrontent chaque année dans cette
        course vertigineuse pour arriver au sommet avec l’espoir de soulever le
        trophée du meilleur grimpeur qu’ils soient trail-runners, performers ou
        spécialiste de la course d’escaliers.
      </p>
    </div>
  </div>
</div>
<!-- ********************************************************** -->

<div class="DivEspace3">
  <br />
  <br />
  <hr />
</div>
