<style>
  #DivTop {
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
  }

  #DivTopLogo {
    display: flex;
    flex-direction: row;
  }
</style>

<!-- ********************************************************** -->

<div id="DivTop">
  <div id="DivTopCo">
    <h2>Connexion</h2>
  </div>
</div>

<!-- ********************************************************** -->

<div id="DivContenu">
  <br /><br /><br />

  <div class="d-flex align-items-center w-75 p-3 mx-auto">
    <div class="flex-shrink-0">
      <a [routerLink]="['/accueil']" routerLinkActive="active"
        ><img
          width="480"
          height="480"
          src="assets/img/Logo3.png"
          class="align-self-center mr-3"
          alt="logo"
      /></a>
    </div>
    <div class="flex-grow-1 ms-3">
      <h3 class="mt-0 w-75 p-3 mx-auto">Connectez-vous à votre compte</h3>

      <form
        class="was-validated row g-3"
        (ngSubmit)="save()"
        [formGroup]="form"
      >
        <div class="col-md-12">
          <label for="validationServer03" class="form-label">Identifiant</label>
          <input
            type="text"
            class="form-control is-invalid"
            placeholder="identifiant"
            id="identifiant"
            required
            formControlName="login"
          />
          <div
            *ngIf="
              form.controls['login'].dirty && form.controls['login'].invalid
            "
            id="validationServer03Feedback"
            class="invalid-feedback"
          >
            login obligatoire
          </div>
        </div>

        <div class="col-md-12">
          <label for="validationServer05" class="form-label"
            >Mot de passe</label
          >
          <input
            type="password"
            class="form-control is-invalid"
            placeholder="Mot de passe"
            id="password"
            required
            formControlName="password"
          />
          <div
            *ngIf="form.get('password')?.dirty && form.get('password')?.invalid"
            id="validationServer05Feedback"
            class="invalid-feedback"
          >
            mot passe obligatoire
          </div>
        </div>

        <div class="col-12">
          <!-- <a [routerLink]="['/accueil']" routerLinkActive="active"> -->
          <button
            class="btn btn-primary"
            type="submit"
            [disabled]="form.invalid"
          >
            connexion
          </button>
          <!-- </a> -->
        </div>
      </form>
      <div
        id="DivContenuLienCreationCompte"
        class="col-4 d-flex justify-content-end"
      >
        <a
          class="w-75 p-3 mr-0 mx-auto h6"
          [routerLink]="['/inscription-utilisateur']"
          routerLinkActive="active"
          >Créer un compte</a
        >
      </div>
    </div>
  </div>
</div>

<!-- ********************************************************** -->

<div class="DivEspace3">
  <br />
  <br />
  <hr />
</div>
