<style>
  #DivTop {
    background-color: lightgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10%;
  }

  #DivTopLogo {
    display: flex;
    flex-direction: row;
  }
</style>

<!-- ********************************************************** -->

<div id="DivTop">
  <div id="DivTopCo">
    <h2>Connexion</h2>
  </div>
</div>

<!-- ********************************************************** -->

<!-- ********************************************************** -->

<div class="DivEspace3">
  <br />
  <br />
  <hr />
</div>
