<div id="DivContenu">
  <br /><br /><br />
  <br /><br />
  <div class="d-flex align-items-start justify-content-center">
    <div
      class="nav flex-column nav-pills me-3 h3"
      id="v-pills-tab"
      role="tablist"
      aria-orientation="vertical"
    >
      <button
        class="nav-link"
        id="v-pills-home-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-home"
        type="button"
        role="tab"
        aria-controls="v-pills-home"
        aria-selected="true"
        [routerLink]="['/menu-admin']"
        routerLinkActive="active"
      >
        Profil
      </button>
      <button
        class="nav-link"
        id="v-pills-profile-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-profile"
        type="button"
        role="tab"
        aria-controls="v-pills-profile"
        aria-selected="false"
        [routerLink]="['/menu-admin-utilisateurs']"
        routerLinkActive="active"
      >
        Utilisateurs
      </button>
      <button
        class="nav-link"
        id="v-pills-profile-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-profile"
        type="button"
        role="tab"
        aria-controls="v-pills-profile"
        aria-selected="false"
        [routerLink]="['/menu-admin-sports']"
        routerLinkActive="active"
      >
        Sports
      </button>
      <button
        class="nav-link"
        id="v-pills-profile-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-profile"
        type="button"
        role="tab"
        aria-controls="v-pills-profile"
        aria-selected="false"
        [routerLink]="['/menu-admin-clubs']"
        routerLinkActive="active"
      >
        Clubs
      </button>
      <button
        class="nav-link"
        id="v-pills-messages-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-messages"
        type="button"
        role="tab"
        aria-controls="v-pills-messages"
        aria-selected="false"
        [routerLink]="['/menu-admin-equipes']"
        routerLinkActive="active"
      >
        Equipes
      </button>
      <button
        class="nav-link"
        id="v-pills-messages-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-messages"
        type="button"
        role="tab"
        aria-controls="v-pills-messages"
        aria-selected="false"
        [routerLink]="['/menu-admin-evenements']"
        routerLinkActive="active"
      >
        Evenements
      </button>
      <!-- <button
        class="nav-link"
        id="v-pills-settings-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-settings"
        type="button"
        role="tab"
        aria-controls="v-pills-settings"
        aria-selected="false"
        [routerLink]="['/menu-admin-historique']"
        routerLinkActive="active"
      >
        Historique
      </button> -->
    </div>
    <div class="flex-grow-1 ms-3 align-items-center w-75 p-3 mx-auto">
      <div class="d-flex justify-content-around">
        <p class="fs-1 align-items-center w-75 p-3 mx-auto">Bonjour</p>
        <a [routerLink]="['/menu-admin-evenements']" routerLinkActive="active">
          <img
            src="assets/img/retour.png"
            width="100"
            height="100"
            class="d-inline-block align-top"
            alt="tweeter"
          />
        </a>
      </div>
      <p class="fs-3 fw-bold align-items-center w-75 p-3 mx-auto">
        La liste des évenements
      </p>
      <div class="col-md-3 align-items-center w-75 p-3 mx-auto bg-light">
        <form
          class="was-validated row g-3"
          (ngSubmit)="save()"
          [formGroup]="form"
        >
          <div class="col-md-12">
            <label for="validationServer01" class="form-label"
              >Nom de l'evenement</label
            >
            <input
              type="text"
              class="form-control is-invalid"
              placeholder="evenement"
              id="evenement"
              required
              formControlName="evenement"
            />
            <div
              class="invalid-feedback"
              *ngIf="
                form.controls['evenement'].dirty &&
                form.controls['evenement'].invalid
              "
            >
              {{ errorEvenement }}
            </div>
          </div>

          <!-- <div class="col-md-12">
            <label for="validationServer03" class="form-label"
              >Nom du club</label
            >
            <input
              type="text"
              class="form-control is-invalid"
              placeholder="Nom du club"
              id="nomClub"
              required
              formControlName="nomClub"
            />
            <div
              class="invalid-feedback"
              *ngIf="
                form.controls['nomClub'].dirty &&
                form.controls['nomClub'].invalid
              "
            >
              {{ errorNomClub }}
            </div>
          </div> -->

          <div class="col-md-12">
            <label for="validationServer03" class="form-label"
              >Liste des membres</label
            >
            <input
              type="text"
              class="form-control is-invalid"
              placeholder="Liste des membres"
              id="mebmbre"
              required
              formControlName="membre"
            />
            <div
              class="invalid-feedback"
              *ngIf="
                form.controls['membre'].dirty && form.controls['membre'].invalid
              "
            >
              {{ errorMembre }}
            </div>
          </div>

          <!-- <div class="col-md-12">
            <label for="validationServer03" class="form-label"
              >Prenom membre</label
            >
            <input
              type="text"
              class="form-control is-invalid"
              placeholder="Prenom membre"
              id="prenom"
              required
              formControlName="prenom"
            />
            <div
              class="invalid-feedback"
              *ngIf="
                form.controls['prenom'].dirty && form.controls['prenom'].invalid
              "
            >
              {{ errorPrenom }}
            </div>
          </div> -->

          <div class="col-12">
            <button
              class="btn btn-primary"
              type="submit"
              [disabled]="form.invalid"
            >
              modifier
            </button>
            <button
              class="btn btn-warning"
              type="submit"
              [routerLink]="['/menu-admin-evenements']"
              routerLinkActive="active"
            >
              annuler
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- ********************************************************** -->

<div class="DivEspace3">
  <br />
  <br />
  <hr />
</div>
