<div id="DivContenu">
  <br /><br /><br />
  <div class="d-flex align-items-center w-75 p-3 mx-auto">
    <div class="flex-shrink-0">
      <img
        width="480"
        height="480"
        src="assets/img/FootJorDab.png"
        class="align-self-center mr-3"
        alt="FootJorDab"
      />
    </div>
    <div class="flex-grow-1 ms-3">
      <h3 class="mt-0 w-75 p-3 mx-auto">Club de football</h3>
      <h5 class="mb-0 w-75 p-3 mx-auto">
        L'un de nos meilleurs clubs de foot en France !
      </h5>
      <h5 class="mb-0 w-75 p-3 mx-auto">
        Grâce à notre séléctions des équipes et des évenements nous avons pu
        vous offrir une expérience sportive riche au travers des coachs
        qualifiés
      </h5>
      <p class="mb-0 w-75 p-3 mx-auto">
        Voici le témoignage de notre célébre footballeur récemment sélectionné
        par l'équipe nationale grâce à la qualitée des cours de sport haut
        niveau que nous offrons :
      </p>
      <p class="mb-0 w-75 p-3 mx-auto">
        JorDab affirme que sont niveau s'est amélioré dès qu'il s'est inscrit
        dans l'un de nos clubs proposé. Il remerci énormément son coach et il
        nous a confirmé qu'il va nous aider pour améliorer encore notre service.
      </p>
    </div>
  </div>

  <!-- **** -->

  <div class="DivEspace3.1">
    <br />
    <hr />
    <br />
  </div>

  <!-- **** -->

  <div class="d-flex align-items-center w-75 p-3 mx-auto">
    <div class="flex-grow-1 ms-3">
      <h3 class="mt-0 w-75 p-3 mx-auto">Green Sport club</h3>
      <br />
      <h5 class="mb-0 w-75 p-3 mx-auto">
        Bienvenue au nouveau club de la formule E !!
      </h5>
      <h5 class="mb-0 w-75 p-3 mx-auto">
        Grâce à notre séléctions d'équipes et d'évenements nous avons pu vous
        offrir une expérience sportive riche au travers des coachs qualifiés
      </h5>
      <br />
      <p class="mb-0 w-75 p-3 mx-auto">
        La Formule E, également connue sous son acronyme FE, est une catégorie
        de compétition automobile de type monoplace électrique réglementée par
        la Fédération internationale de l'automobile. La FE est la seule
        catégorie de monoplace actuellement en compétition équipée d'un moteur
        exclusivement électrique. Nous avons voulu vous garantir un club
        compétent dans ce sport électrique à couper le souffle. Nous avons
        intégré ce club à notre plateforme et ajouté ce type de sport.
      </p>
    </div>
    <div class="flex-shrink-0">
      <img
        width="480"
        height="480"
        src="assets/img/eFormula.jpg"
        class="align-self-center mr-3"
        alt="eFormula"
      />
    </div>
  </div>

  <!-- **** -->

  <div class="DivEspace3.2">
    <br />
    <hr />
    <br />
  </div>

  <!-- **** -->

  <div class="d-flex align-items-center w-75 p-3 mx-auto">
    <div class="flex-shrink-0">
      <img
        width="480"
        height="480"
        src="assets/img/sportobesite2.jpg"
        class="align-self-center mr-3"
        alt="sportobesite"
      />
    </div>
    <div class="flex-grow-1 ms-3">
      <h3 class="mt-0 w-75 p-3 mx-auto">Booster</h3>
      <br />
      <h5 class="mb-0 w-75 p-3 mx-auto">
        C'est le club français n°1 spécialisé pour accompagner les personnes
        obèses pour combattre leur poids
      </h5>
      <h5 class="mb-0 w-75 p-3 mx-auto">
        Grâce à notre séléctions d'équipes et des d'évenements nous avons pu
        vous offrir une expérience sportive riche au travers des coachs
        qualifiés
      </h5>
      <br />
      <p class="mb-0 w-75 p-3 mx-auto">
        Grâce à ces coachs spécialisés et formés pour aider et accompagner les
        personnes obèses, le club est devenu n°1 en France. Il propose des
        programmes spécifiques pour chaque membre selon ses appétences physiques
        tout en respectant sa santé et le motivant pour perdre le maximum du
        poids.
      </p>
    </div>
  </div>

  <!-- **** -->

  <div class="DivEspace3.3">
    <br />
    <hr />
    <br />
  </div>

  <!-- **** -->
  <div class="d-flex align-items-center w-75 p-3 mx-auto">
    <div class="flex-grow-1 ms-3">
      <h3 class="mt-0 w-75 p-3 mx-auto">Doggy</h3>
      <br />
      <h5 class="mb-0 w-75 p-3 mx-auto">
        Le club n°1 en France pour le sport canin
      </h5>
      <h5 class="mb-0 w-75 p-3 mx-auto">
        Grâce à notre sélections d'équipes et d'évenements nous avons pu vous
        offrir une expérience sportive riche au travers des coachs qualifiés.
      </h5>
      <br />
      <p class="mb-0 w-75 p-3 mx-auto">
        Vous aimez votre petite boule de poile? Vous aimez courir et faire du
        sport ? C'est pour ça que nous avons voulu intégrer ce nouveau sport sur
        notre plateforme omnisports. Nous avons veillé pour vous sélectionner
        les meilleurs clubs pour pratiquer le sport avec vos petits-enfants à
        quatre pattes. Vous pouvez même rencontrer vos stars préférées grâce à
        ce sport!
      </p>
    </div>
    <div class="flex-shrink-0">
      <img
        width="480"
        height="480"
        src="assets/img/sport-canin.jpg"
        class="align-self-center mr-3"
        alt="sport canin"
      />
    </div>
  </div>
</div>

<!-- ********************************************************** -->

<div class="DivEspace3">
  <br />
  <br />
  <hr />
</div>
