<div id="DivContenu">
  <br /><br /><br />
  <div class="d-flex align-items-center w-75 p-3 mx-auto">
    <div class="flex-shrink-0">
      <a [routerLink]="['/accueil']" routerLinkActive="active"
        ><img
          width="480"
          height="480"
          src="assets/img/Logo3.png"
          class="align-self-center mr-3"
          alt="logo"
      /></a>
    </div>
    <div class="flex-grow-1 ms-3">
      <h3 class="mt-0 w-75 p-3 mx-auto">FAQ</h3>
      <h5 class="mb-0 w-75 p-3 mx-auto">
        Bienvenue sur la page des questions fréquentes sur notre plateforme
      </h5>
      <p class="mb-0 w-75 p-3 mx-auto">
        Est-il possible de pratiquer des activités en pleine mer tels que le
        surf, le kayak, la natation en eau libre ?
      </p>
      <p class="mb-0 w-75 p-3 mx-auto"></p>
      <ul class="mb-0 w-75 p-3 mx-auto">
        <li class="ml-5">
          La pratique sportive individuelle en extérieur est possible depuis le
          11 mai si elle respecte les règles de distanciation (10 mètres d’écart
          pour un footing ou une sortie à vélo) et 4 m2 mais uniquement dans les
          lieux ouverts et autorisés. L’ouverture d’une plage peut être
          accordée, sur demande du maire, et après accord du préfet.
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- ********************************************************** -->

<div class="DivEspace3">
  <br />
  <br />
  <hr />
</div>
