<div id="DivContenu">
  <br /><br /><br />
  <br /><br />
  <div class="d-flex align-items-start justify-content-center">
    <div
      class="nav flex-column nav-pills me-3 h3"
      id="v-pills-tab"
      role="tablist"
      aria-orientation="vertical"
    >
      <button
        class="nav-link"
        id="v-pills-home-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-home"
        type="button"
        role="tab"
        aria-controls="v-pills-home"
        aria-selected="true"
        [routerLink]="['/menu-admin']"
        routerLinkActive="active"
      >
        Profil
      </button>
      <button
        class="nav-link"
        id="v-pills-profile-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-profile"
        type="button"
        role="tab"
        aria-controls="v-pills-profile"
        aria-selected="false"
        [routerLink]="['/menu-admin-utilisateurs']"
        routerLinkActive="active"
      >
        Utilisateurs
      </button>
      <button
        class="nav-link"
        id="v-pills-profile-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-profile"
        type="button"
        role="tab"
        aria-controls="v-pills-profile"
        aria-selected="false"
        [routerLink]="['/menu-admin-sports']"
        routerLinkActive="active"
      >
        Sports
      </button>
      <button
        class="nav-link"
        id="v-pills-profile-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-profile"
        type="button"
        role="tab"
        aria-controls="v-pills-profile"
        aria-selected="false"
        [routerLink]="['/menu-admin-clubs']"
        routerLinkActive="active"
      >
        Clubs
      </button>
      <button
        class="nav-link"
        id="v-pills-messages-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-messages"
        type="button"
        role="tab"
        aria-controls="v-pills-messages"
        aria-selected="false"
        [routerLink]="['/menu-admin-equipes']"
        routerLinkActive="active"
      >
        Equipes
      </button>
      <button
        class="nav-link"
        id="v-pills-messages-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-messages"
        type="button"
        role="tab"
        aria-controls="v-pills-messages"
        aria-selected="false"
        [routerLink]="['/menu-admin-evenements']"
        routerLinkActive="active"
      >
        Evenements
      </button>
      <!-- <button
        class="nav-link"
        id="v-pills-settings-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-settings"
        type="button"
        role="tab"
        aria-controls="v-pills-settings"
        aria-selected="false"
        [routerLink]="['/menu-admin-historique']"
        routerLinkActive="active"
      >
        Historique
      </button> -->
    </div>
    <div class="flex-grow-1 ms-3 align-items-center w-75 p-3 mx-auto">
      <div class="d-flex justify-content-around">
        <p class="fs-1 align-items-center w-75 p-3 mx-auto">Bonjour</p>
        <a [routerLink]="['/menu-admin-clubs']" routerLinkActive="active">
          <img
            src="assets/img/retour.png"
            width="100"
            height="100"
            class="d-inline-block align-top"
            alt="tweeter"
          />
        </a>
      </div>
      <p class="fs-3 fw-bold align-items-center w-75 p-3 mx-auto">
        Informations du club {{ club.clubNom }}
      </p>
      <div class="col-md-3 align-items-center w-75 p-3 mx-auto bg-light">
        <form
          *ngIf="form"
          class="was-validated row g-3"
          (ngSubmit)="save()"
          [formGroup]="form"
        >
          <div class="col-md-12">
            <label for="validationServer01" class="form-label"
              >Nom du club</label
            >
            <input
              type="text"
              class="form-control is-invalid"
              placeholder="Nom du club"
              id="nomClub"
              required
              formControlName="nomClub"
            />
            <div
              class="invalid-feedback"
              *ngIf="
                form.controls['nomClub'].dirty &&
                form.controls['nomClub'].invalid
              "
            >
              {{ errorNomClub }}
            </div>
          </div>

          <div class="col-md-12">
            <label for="validationServer03" class="form-label">E-mail</label>
            <input
              type="email"
              class="form-control is-invalid"
              placeholder="E-mail"
              id="mail"
              required
              formControlName="mail"
            />
            <div
              class="invalid-feedback"
              *ngIf="
                form.controls['mail'].dirty && form.controls['mail'].invalid
              "
            >
              {{ errorMail }}
            </div>
          </div>

          <div class="col-md-12">
            <label for="validationServer01" class="form-label"
              >N° de téléphone</label
            >
            <input
              type="text"
              class="form-control is-invalid"
              placeholder="N° de téléphone"
              id="numTel"
              required
              formControlName="numTel"
            />
            <div
              class="invalid-feedback"
              *ngIf="
                form.controls['numTel'].dirty && form.controls['numTel'].invalid
              "
            >
              {{ errorTel }}
            </div>
          </div>
          <!--
          <div class="col-md-12">
            <label for="validationServer01" class="form-label">Sport</label>
            <input
              type="text"
              class="form-control is-invalid"
              placeholder="Sport"
              id="sport"
              required
              formControlName="sport"
            />
            <div
              class="invalid-feedback"
              *ngIf="
                form.controls['sport'].dirty && form.controls['sport'].invalid
              "
            >
              sport obligatoire
            </div>
          </div>
-->
          <div class="col-12 h4">Adresse</div>

          <div class="col-md-3">
            <label for="validationServer01" class="form-label">Numéro</label>
            <input
              type="text"
              class="form-control is-invalid"
              placeholder="Numéro"
              id="numero"
              required
              formControlName="numero"
            />
            <div
              class="invalid-feedback"
              *ngIf="
                form.controls['numero'].dirty && form.controls['numero'].invalid
              "
            >
              {{ errorNumero }}
            </div>
          </div>

          <div class="col-md-3">
            <label for="validationServer01" class="form-label">Rue</label>
            <input
              type="text"
              class="form-control is-invalid"
              placeholder="Rue"
              id="rue"
              required
              formControlName="rue"
            />
            <div
              class="invalid-feedback"
              *ngIf="form.controls['rue'].dirty && form.controls['rue'].invalid"
            >
              {{ errorRue }}
            </div>
          </div>

          <div class="col-md-3">
            <label for="validationServer01" class="form-label">ville</label>
            <input
              type="text"
              class="form-control is-invalid"
              placeholder="ville"
              id="ville"
              required
              formControlName="ville"
            />
            <div
              class="invalid-feedback"
              *ngIf="
                form.controls['ville'].dirty && form.controls['ville'].invalid
              "
            >
              {{ errorVille }}
            </div>
          </div>

          <div class="col-md-3">
            <label for="validationServer01" class="form-label"
              >Code postale</label
            >
            <input
              type="text"
              class="form-control is-invalid"
              placeholder="Code postale"
              id="cp"
              required
              formControlName="codePostal"
            />
            <div
              class="invalid-feedback"
              *ngIf="
                form.controls['codePostal'].dirty &&
                form.controls['codePostal'].invalid
              "
            >
              {{ errorCp }}
            </div>
          </div>

          <div class="col-12">
            <button
              class="btn btn-primary"
              type="submit"
              [disabled]="form.invalid"
            >
              modifier
            </button>
            <button
              class="btn btn-warning"
              type="submit"
              [routerLink]="['/menu-admin-clubs']"
              routerLinkActive="active"
            >
              annuler
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- ********************************************************** -->

<div class="DivEspace3">
  <br />
  <br />
  <hr />
</div>
