<div id="DivContenu">
  <br /><br /><br />
  <div class="d-flex align-items-center w-75 p-3 mx-auto">
    <div class="flex-shrink-0">
      <a [routerLink]="['/accueil']" routerLinkActive="active"
        ><img
          width="480"
          height="480"
          src="assets/img/Logo3.png"
          class="align-self-center mr-3"
          alt="logo"
      /></a>
    </div>
    <div class="flex-grow-1 ms-3">
      <h3 class="mt-0 w-75 p-3 mx-auto">Nos Sports</h3>
      <p class="mb-0 w-75 p-3 mx-auto">
        Nous sommes la plateforme de sport numéro un en France. Nous ne
        proposons pas seulement un large choix de sports pour toutes les
        situations et tout âge, nous proposons également des coachs et des clubs
        hors du commun.
      </p>
    </div>
  </div>
</div>
<!-- ********************************************************** -->

<div class="DivContenuCadre2">
  <div
    id="carouselExample2"
    class="carousel carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExample2"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExample2"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="3000">
        <div class="row row-cols-1 row-cols-md-3 g-4 w-75 p-3 mx-auto">
          <div class="col">
            <div class="card h-100 bg-dark">
              <div class="card-body">
                <h5 class="card-title text-white">Squash</h5>
              </div>
              <img
                width="480"
                height="380"
                src="assets/img/squash.jpg"
                class="card-img-top"
                alt="squash"
              />
            </div>
          </div>
          <div class="col">
            <div class="card h-100 bg-dark">
              <div class="card-body">
                <h5 class="card-title text-white">Fitness</h5>
              </div>
              <img
                width="480"
                height="380"
                src="assets/img/sportCouple.jpg"
                class="card-img-top"
                alt="fitness"
              />
            </div>
          </div>
          <div class="col">
            <div class="card h-100 bg-dark">
              <div class="card-body">
                <h5 class="card-title text-white">Sport canin</h5>
              </div>
              <img
                width="480"
                height="380"
                src="assets/img/sport-canin.jpg"
                class="card-img-top"
                alt="sportCanin"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <div class="row row-cols-1 row-cols-md-3 g-4 w-75 p-3 mx-auto">
          <div class="col">
            <div class="card h-100 bg-dark">
              <div class="card-body">
                <h5 class="card-title text-white">HandiSport</h5>
              </div>
              <img
                width="480"
                height="380"
                src="assets/img/csm_tarn-handisport_0f4614a981.jpg"
                class="card-img-top"
                alt="Sport Handicapés"
              />
            </div>
          </div>
          <div class="col">
            <div class="card h-100 bg-dark">
              <div class="card-body">
                <h5 class="card-title text-white">Yoga</h5>
              </div>
              <img
                width="480"
                height="380"
                src="assets/img/yogaPlage.jpg"
                class="card-img-top"
                alt="Yoga"
              />
            </div>
          </div>
          <div class="col">
            <div class="card h-100 bg-dark">
              <div class="card-body">
                <h5 class="card-title text-white">Escalade</h5>
              </div>
              <img
                width="480"
                height="380"
                src="assets/img/escalade.jpg"
                class="card-img-top"
                alt="escalade"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExample2"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExample2"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!-- ********************************************************** -->

<div class="DivEspace3">
  <br />
  <br />
  <hr />
</div>
