<div id="DivContenu">
  <br /><br /><br />
  <div class="d-flex align-items-center w-75 p-3 mx-auto">
    <div class="flex-shrink-0">
      <img
        width="680"
        height="680"
        src="assets/img/error.gif"
        class="align-self-center mr-3"
        alt="error"
      />
    </div>
    <div class="flex-grow-1 ms-3">
      <h1 class="mt-0 w-75 p-3 mx-auto">
        La page que vous demandez est introuvable
      </h1>
      <h5 class="mb-0 w-75 p-3 mx-auto">
        Désolé, il est possible que la page recherchée ait été supprimée, que
        son nom ait changé ou qu'elle ne soit pas disponible pour le moment.
      </h5>
    </div>
  </div>
</div>
<!-- ********************************************************** -->

<div class="DivEspace3">
  <br />
  <br />
  <hr />
</div>
