<div id="DivContenu">
  <br /><br /><br />
  <div class="d-flex align-items-center w-75 p-3 mx-auto">
    <div class="flex-shrink-0">
      <a [routerLink]="['/accueil']" routerLinkActive="active"
        ><img
          width="480"
          height="480"
          src="assets/img/Logo3.png"
          class="align-self-center mr-3"
          alt="logo"
      /></a>
    </div>
    <div class="flex-grow-1 ms-3">
      <h3 class="mt-0 w-75 p-3 mx-auto">A propos de nous</h3>
      <p class="mb-0 w-75 p-3 mx-auto">
        Nous sommes la plateforme de sport numéro un en France. Nous ne
        proposons pas seulement un large choix de sports pour toutes les
        situations et tout âge, nous proposons également des coachs et des clubs
        hors du commun. Toutes les semaines, nous vous informons par e-mail de
        nos prochains évènements selon vos critères.
      </p>
    </div>
  </div>
</div>
<!-- ********************************************************** -->

<div class="DivEspace3">
  <br />
  <br />
  <hr />
</div>
