#menuDrop {
  display: flex;
  align-items: center;
  gap: 60px;
}

#titreOnglet {
  margin-left: 150px;
}

th {
  background-color: #5fd11c;
  font-size: 20px;
  vertical-align: middle;
}

td {
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}
