#menuDrop {
  display: flex;
  align-items: center;
  gap: 60px;
}

#titreOnglet {
  margin-left: 150px;
}

th {
  background-color: #c71fe9;
  font-size: 22px;
}

table {
  border-collapse: collapse;
  border-radius: 1em;
  overflow: hidden;
}
