<div id="DivContenu">
  <br /><br /><br />
  <br /><br />
  <div class="d-flex align-items-start justify-content-center">
    <div
      class="nav flex-column nav-pills me-3 h3"
      id="v-pills-tab"
      role="tablist"
      aria-orientation="vertical"
    >
      <button
        class="nav-link"
        id="v-pills-home-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-home"
        type="button"
        role="tab"
        aria-controls="v-pills-home"
        aria-selected="true"
        [routerLink]="['/menu-utilisateur']"
        routerLinkActive="active"
      >
        Profil
      </button>

      <button
        class="nav-link"
        id="v-pills-profile-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-profile"
        type="button"
        role="tab"
        aria-controls="v-pills-profile"
        aria-selected="false"
        [routerLink]="['/menu-utilisateur-clubs']"
        routerLinkActive="active"
      >
        Clubs
      </button>

      <button
        class="nav-link"
        id="v-pills-messages-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-messages"
        type="button"
        role="tab"
        aria-controls="v-pills-messages"
        aria-selected="false"
        [routerLink]="['/menu-utilisateur-equipes']"
        routerLinkActive="active"
      >
        Equipes
      </button>

      <button
        class="nav-link"
        id="v-pills-messages-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-messages"
        type="button"
        role="tab"
        aria-controls="v-pills-messages"
        aria-selected="false"
        [routerLink]="['/menu-utilisateur-evenements']"
        routerLinkActive="active"
      >
        Evenements
      </button>

      <button
        class="nav-link"
        id="v-pills-settings-tab"
        data-bs-toggle="pill"
        data-bs-target="#v-pills-settings"
        type="button"
        role="tab"
        aria-controls="v-pills-settings"
        aria-selected="false"
        [routerLink]="['/menu-utilisateur-historique']"
        routerLinkActive="active"
      >
        Historique
      </button>
    </div>
    <div class="flex-grow-1 ms-3 align-items-center w-75 p-3 mx-auto">
      <div class="d-flex justify-content-around">
        <p class="fs-1 align-items-center w-75 p-3 mx-auto">Bonjour</p>
        <a [routerLink]="['/menu-utilisateur-clubs']" routerLinkActive="active"
          ><img
            src="assets/img/retour.png"
            width="100"
            height="100"
            class="d-inline-block align-top"
            alt="tweeter"
        /></a>
      </div>
      <p class="fs-3 fw-bold align-items-center w-75 p-3 mx-auto">
        Vous êtes inscrit aux clubs suivants
      </p>
      <div class="col-md-3 align-items-center w-75 p-3 mx-auto">
        <table class="table table-striped table-hover fs-4">
          <tbody>
            <tr class="bg-warning text-dark">
              <th>Nom du club</th>
              <th>Sport</th>
              <th>Adresse</th>
            </tr>
            <tr>
              <td>club1</td>
              <td>sport1</td>
              <td>adresse1</td>
            </tr>
            <tr>
              <td>club2</td>
              <td>sport2</td>
              <td>adresse2</td>
            </tr>
            <tr>
              <td>club2</td>
              <td>sport2</td>
              <td>adresse2</td>
            </tr>
            <tr>
              <td>club3</td>
              <td>sport3</td>
              <td>adresse3</td>
            </tr>
            <tr>
              <td>club4</td>
              <td>sport4</td>
              <td>adresse4</td>
            </tr>
            <tr>
              <td>club5</td>
              <td>sport5</td>
              <td>adresse5</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- ********************************************************** -->

<div class="DivEspace3">
  <br />
  <br />
  <hr />
</div>
